.content {
    height: calc(100% - 78.1333px);
}

.workspace {
    background: linear-gradient(#1f2327, #252729);
    overflow-y: auto;
}

.nav-style {
    background-color: #252729;
}

.search-tag {
    overflow-y: auto;
}

.search {
    background-color: #444444;
    color: white;
}

.search:focus {
    background-color: #444444;
    color: white;
}