html,
body {
  height: 100%;
}

.btn-bar {
  box-sizing: border-box;
  padding: 2px 2px 0px 2px;
  width: 100%;
  height: 68px;
  background-color:#303030;
  white-space: nowrap;
  overflow-x: auto;
}

.btn-in-bar {
  display: inline-block;
  margin: 3px 2px 3px 2px;
}

.btn-back {
  padding: 10px;
  border-radius: 2em;
  border: 1px solid black;
}

.input-back {
  height: calc(100% - 68px - 92px);
}

.nav-style {
  background-color: #252729;
}

.input-area {
  height: 90%
}

.input-note {
  font-size: 125%;
  height: 100% !important;
  color: #f9fcff !important;
  background-color: #444444 !important;
  resize: none;
  overflow: auto;
}