html,
body {
  background-color: #303030;
  font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-form {
  display: flex;
  margin-right: 10%;
  height: 70%;
  width: 100%;
}

.info-form {
  position: relative;
  height: 100%;
  border: 2px solid black;
  width: 65%;
  background-color: #474747;
  background-image:url('./imgs/preview.gif');
  background-repeat:repeat;
}

.signup-form {
  background-color: #7e7979;
  height: 100%;
  width: 45%;
  border: 2px solid black;
}

.logo {
  width: 20%;
  height: 30%;
  position: relative;
  left: 20%;
}

.logo-txt {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 19%;
}

.text {
  text-align: start;
  margin-right: 5%;
  position: relative;
  left: 23%;
}

.logo-block {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: 25%;
  margin-bottom: 1%;
}

.additional-text {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 27%;
}

.title {
  font-size: 2.5vw;
  font-weight: bold;
}

.txt {
  font-size: 1vw;
}

.add-txt {
  font-size: 1.5vw;
}

.signin {
  height: 80%;
  display: flex;
  align-items: center;
  margin: 10% 10% 10% 10%;
}

.signin-form {
  width: 100%;
  max-width: 85%;
  max-height: 80%;
  padding: 15px;
  margin: auto;
  font-weight: 400;
}

.signin-form .signin-form-control {
  position: relative;
  box-sizing: border-box;
  height: 80%;
  padding: 10px;
  font-size: 16px;
}

.signin-form .signin-form-control:focus {
  z-index: 1;
}

.signin-form-first {
  margin-top: 5%;
}

.signin-form-second {
  margin-bottom: 5%;
  margin-top: 2%;
}

.link {
  color: white;
}

.link:hover {
  color: orange;
}